.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.navigation {
  display: flex;
}

.logo-image {
  flex: 1;
}

.logo {
  height: 100px;
  margin-right: 50px;
}

footer, header {
  background-color: #046D8B;
}

footer {
  padding: 10px 0 10px 20px;
  color: #B9B9B9;
}

.content-cards {
  display: flex;
}

.nav-bar {
  flex: 5;
}

.cities {
  flex: 1;
  padding: 10px 20px;
  border: 2px solid black;
  margin: 20px;
}

.landmarks {
  flex: 1;
  padding: 10px 20px;
  border: 2px solid black;
  margin: 20px;
}

.famous-citizens {
  flex: 1;
  padding: 10px 20px;
  border: 2px solid black;
  margin: 20px;
}

.cityList, .landmarkList, .famousCitizenList {
  text-align: justify;
}

/* Background image for lists */
/* .cityList {
  background-image: url(./images/bg-4.jpg);
  opacity: .9;
}

.landmarkList {
  background-image: url(./images/bg-5.jpg);
  opacity: .9;
} */

.city-card ul {
  list-style-type: none;
  padding-left: 10px;
}

.landmark-card ul {
  list-style-type: none;
  padding-left: 10px;
}

.famousCitizen-card ul {
  list-style-type: none;
  padding-left: 10px;
}

/* Styling specific to France page -- starts here */
.france-image {
  width: 100%;
  height: 500px;
}

.france-city-image {
  width: 100%;
}

.france-landmark-image {
  width: 100%;
}

.france-citizen-image {
  width: 100%;
}
/* Styling specific to France page -- ends here */

/* home page image styling */

.home-page-banner {
  width: 100%;
  height: 600px;
}

h1 {
  padding-left: 20px;;
}

h3 {
  color: #4e0101;
}

/* anchor tags in city, landmark and famous citizens */
.content-cards a {
    color: #4e0101;
    text-decoration: underline;
}

/* anchor tags in the nav-bar */
.nav-list a {
  padding: 6px;
  border-radius: 5px;
}

.australia-image {
  max-width: fit-content;
  padding: .75;
}
.australia-city-image {
  width: 100%;
}
.australia-landmark-image {
  width: 100%;
}
.australia-citizen-image {
  width: 100%;
}
/* Anchor tag styling */
a {
  outline: none;
  text-decoration: none;
}

.nav-list a:visited {
  color: #B9B9B9;
}

.nav-list a:focus {
  border-bottom: 1px solid;
}

.nav-list a:hover {
  border-bottom: 1px solid;
}

#active {
  background-color: #f57f30;
  color: #000000;
}

body {
  padding: 0;
  margin: 0;
  background-color: #88cbde;
}

.home-image {
  width: 100%;
  height: 300px;
  background-color: red;
}

/* germany image styling */

.german-landmark-image {
  /* height: 190px; */
  width: 100%;
}

.germany-image {
  width: 100%;
  height: 600px;
}

/* new zealand image styling */

.newzealand-image {
  width: 100%;
  height: 500px;
}
