.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navigation {
  display: flex;
}

.logo-image {
  flex: 1;
}

.logo {
  height: 100px;
  margin-right: 50px;
}

footer, header {
  background-color: #046D8B;
}

.content-cards {
  display: flex;
}

.nav-bar {
  flex: 5;
}

.cities {
  flex: 1;
  padding: 10px 20px;
  border: 2px solid black;
  margin: 20px;
}

.landmarks {
  flex: 1;
  padding: 10px 20px;
  border: 2px solid black;
  margin: 20px;
}

.famous-citizens {
  flex: 1;
  padding: 10px 20px;
  border: 2px solid black;
  margin: 20px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}